/* Colors */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 63%);
  --color-dark-gray: hsl(0, 0%, 27%);
}
/* /Colors */

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-black);
  overflow: hidden;
}
/* /Base Styles */

/* Custom Classes */
.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}
/* /Custom Classes */

/* Container & Wrappers */
.wrapper {
  height: 100%;
}

.container {
  height: 100%;
}
/* /Container & Wrappers */

/* Navbar */
.navbar-wrapper {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 20;
}

.logo-wrapper {
  padding-right: 60px;
}

.navbar__items {
  list-style: none;
  color: var(--color-white);
  text-transform: lowercase;
}

.navbar__item {
  font-size: 16px;
  padding-right: 30px;
}
/* /Navbar */

/* Hero */
.hero {
  height: 65vh;
  position: relative;
}

.hero__img {
  height: 100%;
  width: 100%;
}

.hero__content {
  padding: 120px 86px;
  max-width: 603px;
}

.hero__content-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;
  padding-bottom: 25px;
}

.hero__content-description {
  font-size: 16px;
  color: var(--color-gray);
  line-height: 22px;
  padding-bottom: 25px;
}

.hero__content-btn {
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  margin-right: 10px;
}
/* /Hero */

/* Slider Buttons */
.hero__slider-btns {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 435px;
}

/* Slider Buttons */
.hero__slider-btn {
  background-color: var(--color-black);
  padding: 30px 35px;
}
/* /Slider Buttons */

/* About */
.about__img-wrapper {
  width: 100%;
}

.about__img {
  width: 100%;
  height: 100%;
}

.about__content {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 570px;
}
.about__content-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  margin-right: 10px;
}

.about__content-description {
  font-size: 16px;
  color: var(--color-gray);
  line-height: 22px;
  padding-top: 25px;
}
/* /About */
